.form {
  width: 400px;
  max-width: 100%;
  margin: 1rem auto;
  background-color: #202020;
  padding: 2rem;
  border-radius: 18px;
}

.form h1 {
  text-align: center;
  margin: 0 0 1rem;
}

.input-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-control input, .input-control textarea {
  border: none;
  background-color: #3c3c3c;
  padding-left: .5rem;
  margin-top: .5rem;
}

.input-control input {
  height: 30px;
}

button[type="submit"] {
  width: 100%;
  height: 35px;
  display: block;
  margin-top: 1.5rem;
  cursor: pointer;
  background-color: #646cff;
  border: none;
  border-radius: 0;
  font-weight: bold;
}